@page
<div class="container">
    <table id="healthTable">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Success</th>
                <th>Status code</th>
                <th>URL</th>
                <th>Duration (ms)</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>